*#
*.a
*.la
*.lo
*.o
*.py[co]
*.sublime-project
*.sublime-workspace
*.un~
*~
.#*
.*.sw[a-z]
.*.swp
.bundle/*
.deps/
.idea
.gitignore
.libs/
.vagrant
Berksfile.lock
CMakeCache.txt
CMakeFiles/
Gemfile.lock
Makefile
Makefile.in
\#*#
autom4te.cache/
build
build.*/
build/
config.h
config.status
