useDynLib(torrentR)

export(
  readBeadFindMaskHeader,
  readBeadFindMask,
  readWells,
  readSamParsed,
  readDat,
  readFitResidual,
  readFitResidualV2,
  readBeadParam,
  readBeadParamV2,
  writeDat,	
  readDatCollection,
  plotIonogram,
  readIonBam,
  readBamHeader,
  readTSV,
  rowColStringToRowCol,
  normalizeIonogram,
  sdFromIQR,
  keyStats,
  snrStats,
  snrPlotMedSig,
  snrPlotSdSig,
  oneMerSNR,
  fitBkgTrace,
  findBestCafie,
  phaseFit,
  phaseSolve,
  treePhaser,
  correctCafie,
  chipPlot,
  seqToFlow,
  flowToSeq,
  formImageMatrix,
  bin2D,
  imageWithHist,
  libMixtureAnalysis,
  findMixedReads,
  readTfConf,
  readTfStats,
  readTfInfo,
  tfFlowPlot,
  tfOneMerSNR,
  findDatDir,
  readDatList,
  datFlowPlot,
  flowFrameTracePlot,
  SimulateCAFIE_grid,
  SimulateCAFIE,
  torrentR_version,
  plot_version,
  PurpleTrace,
  RedTrace,
  BlueTrace,
  IntegrateRedFromTotalTrace,
  AdjustEmptyToBeadRatio,
  TauBFromLinearModel,
  TauBFromLinearModelUsingTauE,
  CheckIfFittingTauE,
  GenerateRedHydrogensFromNucRise,
  SimplifyGenerateRedHydrogensFromNucRise,
  ComplexGenerateRedHydrogensFromNucRise,
  SingleFlowFit,
  CalculateNucRise,
  CalculateNucRiseSpline,
  CalculateNucRiseSigma,
  CalculateNucRiseMeasured,
  CalculateEmphasisVector,
  ExportHiddenBkgParameters,
  readFieldsFromFile,
  getRunsREST,
  getRunsListREST,
  getRunsListRESTByProject,
  getListFromRESTQuery,
  calcAdditionalFaveMetrics,
  getBasicFields,
  percentPositive,
  sumFractionalPart,
  fitNormals,
  distanceFromMean,
  LoadFlowErr,
  multreePhaser,
  RepeatSeqBasecalling,
  writeFASTQ,
  calcHypothesesDistances,
  SimulateAndSolveSeq,
  readIonBamStack,
  normalizeRead,
  flowAlignment,
  fitPhasingBurst,
  findAdapter
)
