useDynLib(torrentR)

export(
	readBeadFindMaskHeader,
	readBeadFindMask,
	readWells,
	readSamParsed,
    readBam,
	readDat,
    writeDat,
	readDatCollection,
	plotIonogram,
	readSFF,
	readTSV,
	rowColStringToRowCol,
	normalizeIonogram,
	sdFromIQR,
	keyStats,
	snrStats,
	snrPlotMedSig,
	snrPlotSdSig,
	oneMerSNR,
	bkgModel,
	fitBkgTrace,
	findBestCafie,
	phaseFit,
	phaseSolve,
	treePhaser,
	correctCafie,
	chipPlot,
	seqToFlow,
	flowToSeq,
	formImageMatrix,
	bin2D,
	imageWithHist,
	libMixtureAnalysis,
	findMixedReads,
	readTfConf,
	readTfStats,
	readTfInfo,
	tfFlowPlot,
	tfOneMerSNR,
        findDatDir,
        readDatList,
        datFlowPlot,
        flowFrameTracePlot,
	SimulateCAFIE_grid,
	SimulateCAFIE,
	torrentR_version,
	plot_version,
 	PhredDiscrimination,
 	PhredDiscriminationList,
 	PlotDiscrimination,
  PurpleTrace,
  RedTrace,
  BlueTrace,
  IntegrateRedFromTotalTrace,
  AdjustEmptyToBeadRatio,
  TauBFromLinearModel,
  GenerateRedHydrogensFromNucRise,
  SimplifyGenerateRedHydrogensFromNucRise,
  ComplexGenerateRedHydrogensFromNucRise,
  SingleFlowFit,
  CalculateNucRise,
  CalculateNucRiseSpline,
  CalculateNucRiseSigma,
  CalculateNucRiseMeasured,
  CalculateEmphasisVector,
  ExportHiddenBkgParameters,
       readFieldsFromFile,
       getRunsREST,
       getRunsListREST,
       getRunsListRESTByProject,
       getListFromRESTQuery,
       calcAdditionalFaveMetrics,
       getBasicFields,
  percentPositive,
  sumFractionalPart,
  fitNormals,
  distanceFromMean
)
