# Copyright (C) 2012 Ion Torrent Systems, Inc. All Rights Reserved

[global]
results = /sw_results
analysisresults = /sw_results_ssd/analysis
localTSresults = /results/
log_memory_usage = yes
flowblocks = 20
block_to_process_start = 0
block_to_process_end = 95
nb_retries = 2

# 1 Kb: 1024
# 1 Mb: 1048576
# 1 Gb: 1073741824

nb_beadfind_threads = 6
nb_analysis_threads = 9
nb_max_jobs = 16
nb_max_beadfind_jobs = 10
nb_max_analysis_jobs = 10
nb_max_basecaller_jobs = 6
#nb_max_jobs = 9
#nb_max_beadfind_jobs = 7

[DefaultChip]
nb_beadfind_threads = 4
nb_analysis_threads = 6
nb_basecaller_threads = 6
nb_max_jobs = 9
nb_max_beadfind_jobs = 6
nb_max_analysis_jobs = 5
nb_max_basecaller_jobs = 5
HOST_memory_requirement_beadfind = 2073741824
HOST_memory_requirement_analysis = 8073741824
GPU_memory_requirement_analysis  = 1073741824

[P1.1.17]
nb_beadfind_threads = 4
nb_analysis_threads = 6
nb_max_jobs = 10
nb_max_beadfind_jobs = 8
nb_max_analysis_jobs = 6
nb_max_basecaller_jobs = 6
HOST_memory_requirement_beadfind = 2073741824
HOST_memory_requirement_analysis = 8073741824
GPU_memory_requirement_analysis  = 1073741824

[540]
nb_beadfind_threads = 9
nb_analysis_threads = 9
nb_max_jobs = 10
nb_max_beadfind_jobs = 10
nb_max_analysis_jobs = 7
nb_max_basecaller_jobs = 3
HOST_memory_requirement_beadfind = 2073741824
HOST_memory_requirement_analysis = 8073741824
GPU_memory_requirement_analysis  = 1073741824

[P2.2.2]
nb_beadfind_threads = 12
nb_analysis_threads = 9
nb_max_jobs = 7
nb_max_beadfind_jobs = 7
nb_max_analysis_jobs = 5
nb_max_basecaller_jobs = 5
HOST_memory_requirement_beadfind = 7073741824
HOST_memory_requirement_analysis = 20073741824
GPU_memory_requirement_analysis  = 1573741824

[550]
nb_beadfind_threads = 9
nb_analysis_threads = 9
nb_max_jobs = 6
nb_max_beadfind_jobs = 5
nb_max_analysis_jobs = 4
nb_max_basecaller_jobs = 4
HOST_memory_requirement_beadfind = 7073741824
HOST_memory_requirement_analysis = 20073741824
GPU_memory_requirement_analysis  = 1073741824
