# Copyright (C) 2012 Ion Torrent Systems, Inc. All Rights Reserved

[global]
on_instrument_signal_processing = on
on_instrument_basecalling = off
analysis_threads = 4
jobs_per_stage1_beadfind = 4
jobs_per_stage1_sigproc_init = 4
jobs_per_stage1_sigproc = 4
jobs_per_stage2_beadfind = 4
jobs_per_stage2_sigproc_init = 4
jobs_per_stage2_sigproc = 4
flowblocks = 20
separatorArgs = /usr/local/bin/justBeadFind --regional-sampling on --beadfind-minlivesnr 3 --beadfind-lagone-filt 0 --local-wells-file off --region-size=216x224
analysisArgs = /usr/local/bin/Analysis --regional-sampling on --beadfind-minlivesnr 3 --beadfind-lagone-filt 0 --clonal-filter-bkgmodel on --bkg-bfmask-update off --region-size=216x224 --gpuWorkLoad 1 --total-timeout 100
nb_beadfind_threads = 8
nb_analysis_threads = 6
nb_max_jobs = 8
nb_max_analysis_jobs = 7
nb_min_beadfind_jobs = 1
block_to_process_start = 0
block_to_process_end = 95
libraryKey = TCAG
tfKey = ATCG

# blockname = storage_location, stage
[blocks]
block_000 = SSD
block_001 = HD
block_002 = HD
block_003 = HD
block_004 = HD
block_005 = HD
block_006 = HD
block_007 = HD
block_008 = HD
block_009 = HD
block_010 = HD
block_011 = SSD
block_012 = HD
block_013 = HD
block_014 = HD
block_015 = HD
block_016 = HD
block_017 = HD
block_018 = HD
block_019 = HD
block_020 = HD
block_021 = HD
block_022 = HD
block_023 = HD
block_024 = HD
block_025 = HD
block_026 = HD
block_027 = HD
block_028 = HD
block_029 = HD
block_030 = HD
block_031 = HD
block_032 = HD
block_033 = HD
block_034 = HD
block_035 = HD
block_036 = HD
block_037 = HD
block_038 = HD
block_039 = HD
block_040 = HD
block_041 = HD
block_042 = HD
block_043 = HD
block_044 = HD
block_045 = HD
block_046 = HD
block_047 = HD
block_048 = SSD
block_049 = SSD
block_050 = SSD
block_051 = SSD
block_052 = SSD
block_053 = SSD
block_054 = SSD
block_055 = SSD
block_056 = SSD
block_057 = SSD
block_058 = SSD
block_059 = SSD
block_060 = HD
block_061 = HD
block_062 = HD
block_063 = HD
block_064 = HD
block_065 = HD
block_066 = HD
block_067 = HD
block_068 = HD
block_069 = HD
block_070 = HD
block_071 = HD
block_072 = HD
block_073 = HD
block_074 = HD
block_075 = HD
block_076 = HD
block_077 = HD
block_078 = HD
block_079 = HD
block_080 = HD
block_081 = HD
block_082 = HD
block_083 = HD
block_084 = SSD
block_085 = HD
block_086 = HD
block_087 = HD
block_088 = HD
block_089 = HD
block_090 = HD
block_091 = HD
block_092 = HD
block_093 = HD
block_094 = HD
block_095 = SSD
