/* Rounded corner classes from http://www.roundedcornr.com/ */

.roundedcornr_box_526903 {
    background: #cccccc;
}

.roundedcornr_top_526903 div {
    background: url("./images/roundedcornr_526903_tl.png") no-repeat top left;
}

.roundedcornr_top_526903 {
    background: url("./images/roundedcornr_526903_tr.png") no-repeat top right;
}

.roundedcornr_bottom_526903 div {
    background: url("./images/roundedcornr_526903_bl.png") no-repeat bottom left;
}

.roundedcornr_bottom_526903 {
    background: url("./images/roundedcornr_526903_br.png") no-repeat bottom right;
}

.roundedcornr_top_526903 div, .roundedcornr_top_526903, .roundedcornr_bottom_526903 div, .roundedcornr_bottom_526903 {
    width: 100%;
    height: 12px;
    font-size: 1px;
}

.roundedcornr_content_526903 {
    margin: 0 0px;
    width: 100%;
}
