.header .nav-tabs #configure {
  float: right;
  width: 60px;
}

#configureNav li {
  margin-right: 0;
}

#modal_configure_plugins_plugin_configure .modal-body {
  overflow: scroll;
}

.modal-body {
  position: relative;
}

.search-field {
  height: auto;
}

select.expand {
  width: auto;
  /* Let the browser handle it. */

}
