.hide
{
	display: none;
}
.no_barcodes{
	padding-top: 0px;
}
.show
{
	display: inline;
	align: center;
}	

.pluginGroupHead{

	background-color: #F5F5F5;

}

div > .pluginLog{
	float: right;
}

div > .pluginRemove {
    float: right;
}

.pluginBlock{
	background: white;
}

.pluginGroup{
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    margin: 20px 0 10px 0;
}

.plugin-controls {
  margin: 0 0 0 12px;
}

#major_blocks .pluginGroup {
    border: none;
    margin: 0;
}

#major_blocks .pluginGroup .section {
    border-radius: 4px;
    border-color: #E3E3E3;
}

.pluginGroupHeadInner{
    padding: 4px;
}

.pluginGroupList{
	padding: 4px;
}

#pluginStatusTable{
	margin-top: 20px;
}

#RunSummary {
    padding-top: 0;
}
#runSection {
    padding: 0 0 15px 0;
    margin-top: 20px;
    border: none;
}
.aligned, .unaligned {
    padding-bottom: 0;
}
.well .signal {
    margin: 15px auto 15px auto;
    float: none;
    max-width: 200px;
}
.number-chunk {
    border-bottom: 1px solid #D6D6D6;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}
#RunSummary .number-chunk small {
    font-size: 12px;
    padding: 0;
    margin: 0;
    border: none;
}

.unaligned
{
    page-break-after: always;
}

hr{
    margin: 3px 0;
    color: #000;
    background-color: #000;
    height: 2px;
}

#resultList {
    width: auto;
}

.majorNameRow .plugin_links a {
    margin-left: 10px;
    line-height: 48px;
}

#tabs .tab-content {
    border-width: 1px 0 0 0;
    padding: 20px 0 0 0;
}

.iru-account{
    text-align: left;
}

/* ---------- 4. Plugin Iframe Modal ---------- */

#plugin-iframe-modal iframe{
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
}