.signal {
  float: left;
  width: 100%;
  margin: 30px 20px;
}

.signal-strength {
  float: left;
  width: 62px;
  height: 36px;
  margin-right: 10px;
}

.signal-strength span {
  position: relative;
  display: block;
  float: left;
  width: 12.903225806452%;
  height: 100%;
  margin-right: 4.838709677419%;
  vertical-align: bottom;
  background: #ddd;
  border: 1px solid #bbb;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-background-clip: padding-box;
}

.signal-strength span.bar1 {
  height: 20px;
  margin-top: 16px;
}

.signal-strength span.bar2 {
  height: 24px;
  margin-top: 12px;
}

.signal-strength span.bar3 {
  height: 28px;
  margin-top: 8px;
}

.signal-strength span.bar4 {
  height: 32px;
  margin-top: 4px;
}

.signal-strength span.bar5 {
  margin-right: 0;
}

.strength20 span.bar1,
.strength40 span.bar1,
.strength40 span.bar2,
.strength60 span.bar1,
.strength60 span.bar2,
.strength60 span.bar3,
.strength80 span.bar1,
.strength80 span.bar2,
.strength80 span.bar3,
.strength80 span.bar4,
.strength100 span.bar1,
.strength100 span.bar2,
.strength100 span.bar3,
.strength100 span.bar4,
.strength100 span.bar5 {
  background: #386e9f;
  background: -moz-linear-gradient(top, #5b94c7 0%, #5b94c7 50%, #386e9f 51%, #386e9f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b94c7), color-stop(50%, #5b94c7), color-stop(51%, #386e9f), color-stop(100%, #386e9f));
  background: -webkit-linear-gradient(top, #5b94c7 0%, #5b94c7 50%, #386e9f 51%, #386e9f 100%);
  background: -o-linear-gradient(top, #5b94c7 0%, #5b94c7 50%, #386e9f 51%, #386e9f 100%);
  background: -ms-linear-gradient(top, #5b94c7 0%, #5b94c7 50%, #386e9f 51%, #386e9f 100%);
  background: linear-gradient(to bottom, #5b94c7 0%, #5b94c7 50%, #386e9f 51%, #386e9f 100%);
  border: 1px solid #386e9f;
}

.signal-failqc.strength20 span.bar1,
.signal-failqc.strength40 span.bar1,
.signal-failqc.strength40 span.bar2,
.signal-failqc.strength60 span.bar1,
.signal-failqc.strength60 span.bar2,
.signal-failqc.strength60 span.bar3,
.signal-failqc.strength80 span.bar1,
.signal-failqc.strength80 span.bar2,
.signal-failqc.strength80 span.bar3,
.signal-failqc.strength80 span.bar4,
.signal-failqc.strength100 span.bar1,
.signal-failqc.strength100 span.bar2,
.signal-failqc.strength100 span.bar3,
.signal-failqc.strength100 span.bar4,
.signal-failqc.strength100 span.bar5 {
  background: #db1839;
  background: -moz-linear-gradient(top, #ee4d65 0%, #ee4d65 50%, #db1839 51%, #db1839 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee4d65), color-stop(50%, #ee4d65), color-stop(51%, #db1839), color-stop(100%, #db1839));
  background: -webkit-linear-gradient(top, #ee4d65 0%, #ee4d65 50%, #db1839 51%, #db1839 100%);
  background: -o-linear-gradient(top, #ee4d65 0%, #ee4d65 50%, #db1839 51%, #db1839 100%);
  background: -ms-linear-gradient(top, #ee4d65 0%, #ee4d65 50%, #db1839 51%, #db1839 100%);
  background: linear-gradient(to bottom, #ee4d65 0%, #ee4d65 50%, #db1839 51%, #db1839 100%);
  border: 1px solid #db1839;
}

.signal-strength span.signal-warning {
  position: absolute;
  top: -30px;
  left: -6px;
  display: block;
  width: 20px;
  height: 23px;
  background: url("../../resources/img/signal-warning.png") no-repeat top left;
  border: 0;
}

.signal-caption p.percentage {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #333333;
}

.signal-caption p.caption {
  color: #666;
}
