127.0.0.1	localhost
127.0.1.1	{{ansible_hostname}}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

################################################ION CLUSTER HOSTS#################################################
172.29.26.52   protonts01-mgmt.local                   ts01-mgmt       protonts01-mgmt
172.29.28.51   protonts01.local                        ts01            protonts01
172.29.26.54   protonts02-mgmt.local                   ts02-mgmt       protonts02-mgmt
172.29.28.52   protonts02.local                        ts02            protonts02
172.29.28.53   pcn01.local     pcn01                   t1              c1
172.29.28.54   pcn02.local     pcn02                   t2              c2
172.29.28.55   pcn03.local     pcn03                   t3              c3
172.29.28.56   pcn04.local     pcn04                   t4              c4
172.29.28.57   pcn05.local     pcn05                   t5              c5
172.29.28.58   pcn06.local     pcn06                   t6              c6
172.29.28.59   pcn07.local     pcn07                   t7              c7
172.29.28.60   pcn08.local     pcn08                   t8              c8
172.29.28.61   pcn09.local     pcn09                   t9              c9
172.29.28.62   pcn10.local     pcn10                  t10              c10
172.29.28.63   pcn11.local     pcn11                  t11              c11
172.29.28.64   pcn12.local     pcn12                  t12              c12
172.29.28.65   pcn13.local     pcn13                  t13              c13
172.29.28.66   pcn14.local     pcn14                  t14              c14
172.29.28.67   pcn15.local     pcn15                  t15              c15
172.29.28.68   pcn16.local     pcn16                  t16              c16
###################################################################################################################
