[Unit]
Description=Ion service to restart TS
Wants=network-online.target
After=network-online.target ionMountExternal.service
ConditionPathExists=/etc/init.d/mountExternal

[Service]
Type=oneshot
ExecStart=/bin/sh -ec '/etc/init.d/mountExternal -t restart_TS 2>&1 | tee -a /mnt/ionFirstLog'

[Install]
WantedBy=multi-user.target