<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript"
          src="/site_media/jquery/js/jquery-1.6.1.min.js"></script>
  <script type="text/javascript"
          src="/site_media/jquery/js/jquery.form.js"></script>
  <script type="text/javascript"
          src="/site_media/jquery/js/form2object/form2object.js"></script>
  <script type="text/javascript"
          src="/site_media/jquery/js/form2object/jquery.toObject.js"></script>
  <link type="text/css" href="/site_media/jquery/css/default.uni-form.css"
        rel="Stylesheet"/>
  <script type="text/javascript">
    $(function() {
      $('#bedSimple').submit(function() {
        formData = JSON.stringify($("#meta_form").toObject());
        $("#meta").val(formData);
        return true;
      });
      {% if not genome %}
      $.getJSON("/rundb/api/v1/referencegenome/", function(result) {
          $.each(result.objects, function(index, ref) {
              $("#references").append('<option value="' + ref.short_name + '">'+ ref.name + '</option>');
          });
      });
      {% endif %}
      $('#hotspot_help_text').hide();
      $('#hotspot_help_button').click(function(){
        $('#hotspot_help_text').slideToggle(300);
      });
    });
  </script>
</head>
<body>


<form id="meta_form" onsubmit="return false;">
{% if genome  %}
  <h1>Upload a BED file for {{genome}}: </h1>
{% else %}
  <h1>Upload a BED file: </h1>
{% endif %}
  <label for="reference">Reference </label>
  <select id="references" name="reference">
    {% if genome %}
    <option value="{{genome}}"> {{genome}} </option>
    {% endif %}
  </select>

  <label for="hotspot" >Hotspot </label>
  <input type="checkbox" name="hotspot" /> <a href="#" id="hotspot_help_button">?</a>
</form>
<p id="hotspot_help_text">A "HotSpot" type BED file defines regions or individual bases where variants are expected to occur.</p>
<form id="bedSimple" method="POST" class="uniForm" enctype="multipart/form-data">
    <div style="margin-top: 10px;">
      <input id="file" type="file" name="file"/>
    </div>
    <input id="meta" type="hidden" name="meta" value="{}" />
    <div class="buttonHolder" id="upload_button">
      <input id="upload" type="submit" value="Upload">
    </div>
</form>


</body>
</html>